html {
  padding-top: 25px;
  background-image: url(papyrus.png);
}

body{
  padding: 25px;
	
}
.title {
	color: #5C6AC4;
}

h1, h2 {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 5;
}

p, ol, ul, table {
  font-family: "Yatra One", system-ui;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
}
table {
  border-collapse: collapse;
}

#assignment4title {
	font-size: 50px;
}
