/* adlam-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/adlam-display-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* abhaya-libre-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/abhaya-libre-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    padding: 20px 50px;
}

h1 {
    font-family: 'ADLaM Display';
}

h2 {
    font-family: 'ADLaM Display';
}

p {
    font-family: 'Abhaya Libre';
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

}
